*{
margin: 0px;
padding: 0px;
}
.navbar{
display: flex;
justify-content: space-around;
padding: 10px;
}
.resume{
padding: 10px 15px;
background-color: white;
border: 1px solid gray;
font-weight: bold;
border-radius: 10px;
font-size: 20px;
transition: 0.5s;
}
.resume:hover{
background-color: aquamarine;
color: black;
}
.banner-container{
 width: 100%;   
height: 70vh;
/* border: 1px solid gray; */
background-image: url(./assets/Hero-bg.png);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.connect{
padding: 15px 15px;
background-color: black;
color: white;
border-radius: 10px;
margin-top: 10px;
font-size: 20px;
transition: 0.5s;
}
.connect:hover{
background-color: chartreuse;
color: black;
}
.banner-title{
padding: 10px;
}
.banner-paragraph{
padding: 5px;
font-size: 20px;
}
main{
 width: 80%;
 background-color: rgb(247, 243, 243);
 margin: 0 auto;
 text-align: center;
 padding: 20px;
}
.box-1{
display:flex;
justify-content: space-around;
width: 70%;
margin: 0 auto;
/* border: 1px solid gray; */
margin-top: 50px;
align-items: center;
box-shadow: 4px 4px 8px gray;
text-align: justify;
}
.box-title{
font-weight: bold;
font-size: 25px;
padding: 15px;
margin-left: -0.5cm;
}
.box-button{
padding: 10px 10px;
margin-top: 10px;
background-color: transparent;
border-radius: 5px;
transition: 0.5s;
}
.box-button:hover{
background-color: black;
color: white;
}
.box-2{
display:flex;
justify-content: space-around;
width: 70%;
margin: 0 auto;
/* border: 1px solid gray; */
 margin-top: 50px;
 align-items: center;
box-shadow: 4px 4px 8px gray;
text-align: justify;
}
.box-3{
 display:flex;
 justify-content: space-around;
 width: 70%;
 margin: 0 auto;
/* border: 1px solid gray; */
margin-top: 50px;
align-items: center;
box-shadow: 4px 4px 8px gray;
text-align: justify;
}
.target-container{
text-align: center;
padding: 50px;
}
.box{
text-align: justify;
width: 200px;
height: 200px;
padding: 20px;
border-radius: 7px;
}
.html-box{
 background-color:#FFF7F4;
}
.css-box{
background-color: #F2F6FE;
}
.js-box{
background-color: #FFFDF2;
}
.box-container{
display: flex;
justify-content: space-around;
margin-top: 30px;
}
.box img{
padding: 20px;
}
footer{
display: flex;
justify-content: space-around;
background-color: rgb(247, 244, 244);
}
.inspiration-content{
padding: 30px;
margin: 30px;
}
.mongo{
margin-top: 20px;
}
.box-style{
display: flex;
justify-content: space-evenly;
box-shadow: 4px 4px 4px 2px gray;
align-items: center;
padding: 20px;
margin-top: 10px;
}
.next-title{
margin-top: 15px;
padding:10px;
}
.my-next-target{
width: 80%;
margin: 0 auto;
}

